{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}Project X{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'eduplatform/styles.css' %}" rel="stylesheet">
        <link href="{% static 'eduplatform/bannerstyles.css' %}" rel="stylesheet">
        {% block class %}
        {% endblock %}
        {% block script %}
        {% endblock %}
    </head>
    <body id="pagebody">
        <div class="hero-image">
            <div class="hero-text">
              <h1>EduWorld</h1>
              <p>A World of Learning Awaits.</p>
            </div>
          </div>
          
        <div>
            {% if user.is_authenticated %}
                Signed in as <strong>{{ user.username }}</strong>.
            {% else %}
                Not signed in.
            {% endif %}
        </div>
        
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">Log In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">Register</a>
                </li>
            {% endif %}
        </ul>
 
        {% block body %}
        {% endblock %}
        <br><br><br>
    </body>
</html>
